<!-- Footer Start -->
<footer class="footer">
  <div class="footer__content container">
    <div class="footer__row footer-info">
      <div class="footer__column nav-menu">
        <nav class="footer__menu">
          <ul class="menu-footer__list">
            <li>
              <a class="menu-footer__link" href="about-page.html">О нас</a>
            </li>
            <li>
              <a class="menu-footer__link" href="payment-page.html">Оплата</a>
            </li>
            <li>
              <a class="menu-footer__link" href="deliv-page.html">Доставка</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__column">
        <form class="footer__form form-footer" action="#">
          <div class="form-footer__label">Подписаться на наши новости</div>
          <div class="form-footer__group">
            <input
              class="form-footer__input"
              id="form-footer__input"
              type="email"
              placeholder="ваш e-mail"
              autocomplete="off"
            />
            <button class="form-footer__submit" type="submit"></button>
          </div>
        </form>
      </div>
    </div>
    <!-- footer__row -->

    <div class="footer__row footer-social">
      <div class="footer__column">
        <a href="email:myendlessstory@.ru" target="_blank"
          >myendlessstory@.ru</a
        >
      </div>
      <div class="footer__column">
        <a href="#" target="_blank">instagram.com</a>
      </div>
    </div>
    <!-- footer__row -->

    <div class="footer__row footer-bottom">
      <div class="footer__column">
        <span class="copiry">© 2020 <a href="#">MyEndlessstory.ru</a></span>
      </div>
      <div class="footer__column">
        <a href="#" target="_blank">Пользовательское соглашение</a>
      </div>
    </div>
    <!-- footer__row -->
  </div>
  <!-- /footer__content _container -->
</footer>
<!-- / footer -->
