@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin submenu($backgr,$boxShadow){
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 0;
  background: $backgr; //rgb(68, 65, 65);
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  box-shadow: $boxShadow;
  transition:all .3s ease;
}
