//* <МИКСИНЫ> ============================================================
@import 'mixins';
//* </МИКСИНЫ> ===========================================================

//* <ШРИФТЫ> =============================================================
// <Подключаем шрифты> ==================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
// </Подключаем шрифты> =================================================

// <Иконочные шрифты> ===================================================
//@import = 'icons'
// </Иконочные шрифты> ==================================================

// <Шрифты по умолчанию> ================================================
$fontFamily: '';
// </Шрифты по умолчанию> ===============================================
//* </ШРИФТЫ> ===========================================================

//* <ПЕРЕМЕННЫЕ> ========================================================
@import 'vars';
//* </ПЕРЕМЕННЫЕ> =======================================================

//* <СБРОС НАСТРОЕК> ========================================================
@import 'reset';
@import 'normalize';
//* </СБРОС НАСТРОЕК> ========================================================

//* <ГОТОВЫЕ КЛАССЫ> ========================================================
.rub:after{
  content: '₽';
}
//* ========================================================
body{
  font-size: 12px;
  font-weight: normal;
  font-family: 'OpenSans', Helvetica, sans-serif;
  background: #ffffff;
  line-height: 21px;
}
.page_content
{
	width: 100%;
	overflow: hidden;
}
._container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: $md4){
    max-width: $container-md4;
  }
  @media (min-width: $md3){
    max-width: $container-md3;
  }
  @media (min-width: $md2){
    max-width: $container-md2;
  }
  @media (min-width: $md1){
    max-width: $container-md1;
  }
}



@import './blocks/header';

