body {
  font-size: 12px;
  font-weight: normal;
  font-family: $fontFamilyPrim;
  background: #ffffff;
  line-height: 21px;
}

.page_content {
  width: 100%;
  overflow: hidden;
}

._container {
  max-width: $containerMaxWidth;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: $md1) {
    max-width: $container-md1;
  }

  @media (max-width: $md2) {
    max-width: $container-md2;
  }

  @media (max-width: $md3) {
    max-width: $container-md3;
  }

  @media (max-width: $md4) {
    max-width: $container-md4;
  }
}


.btn {
  display: inline-block;
  color: #333;
  border: 1px solid #6e6e6e; //$color_brd_btn;
  background: 0 0;
  font-family: 'SFProDisplay';
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 25px;
  letter-spacing: 1px;
}

.btn-primary {
  color: #fff;
  background-color: #ffa200;
  border-color: #ffa200;
}
