// Размеры контейнеров и экранов.
$containerMaxWidth: 1140px;
$container-md1: 960px;
$container-md2: 720px;
$container-md3: 540px;
$container-md4: 100%;
$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 576px;
$md4: 320px;

// font-weight
$font-Thin: 200;
$font-Light: 300;
$font-Regular: 400;
$font-Medium: 500;
$font-SemiBold: 700;
$font-Bold: 700;




// Цвета
$white: #fff;
$red: #FA4E5E;
$black: #000;

$defTextColor: #000;
$hoverColor: #6098C6;
$bg_head: rgba(73, 64, 87, 0.95); // #2F2B35;
$bg_footer: $bg-head;

$selection: #e6ae48;

//product-item
$brd-card_shdow: 3px 5px 10px rgba(154, 154, 154, 0.25);
$brd_card: 1px solid #CFCFCF;
$brd_card_hover: 1px solid #d649cf;
$color_title_card: #1E1E1E;
$color_text_price: #BCA480;

// button
$color_font_btn: #5D5E62;
$color_brd_btn: #D5D5D5;
$brd_btn: 1px solid $color_brd_btn;

// title
$color_title_section: #2F2B35;
$font_title_section: 'SFProDisplay';
$font_title_weight: $font-Thin;
$font_title_size: 4em; // размер шрифта в em

//submenu
$boder-color-submenu: #e0e0e0;
$shadow-sub-menu: 0 0 25px rgba(63, 78, 100, 0.15);


