
.cart-calculate {
  padding-left: 20px;

  &__column{
    display: flex;
    flex-direction: column;
    //background: lighten($border-color, 11%);
  }
  // .cart-calculate__totals
  &__totals {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0;
  }
}

/*  Блок  cart-cupone   */
.cart-cupone {
  margin-bottom: 20px;

  // .cart-cupone__form
  &__form {
    display: bloc;
    flex-direction: column;
  }

  // .cart-cupone__form--input
  &__form--input {
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
    padding:15px 20px;
    border: 1px solid $border-color;
  }
}

/*  Блок cart-totals */
.cart-totals {
  // .acart-totals__title
  margin-top: 50px;

  &__title {
    font-size: 12px;
    margin-bottom: 1.5rem;
  }
}

/*   Блок  cart-calculator   */
.cart-calculator {
  margin-bottom: 20px;
  // .cart-calculator__item
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid $border-color;

  }

  // .cart-calculator__item--head
  &__item--head{
    font-size: 14px;
    font-weight: $font-Bold;
    text-transform: capitalize;
  }

  &__item--value{
    font-size: 16px;

    span{
      display: block;
      margin-bottom: 5px;
    }
  }
  // .cart-calculator__item--value

    &__item--head, &__item--value {
      vertical-align: top;
      text-transform: capitalize;
  }

  // .cart-calculator__btn
  &__btn {
    &:hover{
      background: $color-brown;
    }

  }
}

