
.table-area {
  // .cart-form__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  // .cart-form__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.table-content {
  display: flex;
  margin-left: 0;
  margin-right: 0;

  &.table{

    & thead{
      background: lighten($border-color, 11%);
      border-top: 1px solid $border-color;
    }
    & tr{
      border-bottom: 1px solid $border-color;
    }

  }

}

// .action-inner-btn{
//   background-color: transparent ;
//   border: 1px solid $border-color;

//   &:hover{
//     border: 1px solid $primary-color;
//   }
// }
