%section-content {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-family: $fontFamilyPrim;
    font-size: 2em;
    font-weight: $font-Light;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  p {
    font-size: 1.3em;
    font-weight: $font-Light;
  }
}

%title-page {
  @include font_sett ($font-family_title_section, $font-weight_title_section, $font-size_title_section);
  color: $color_title_section;
}
