*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;

  &:active, &:hover, &:focus, &::selection, &::focus {
    outline: 0;
    border: 0;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// Сброс настроек обводки кнопки button при нажатии.
button {
  &:active, &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}


//***************************/

body {
  font-size: 12px;
  font-weight: normal;
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  background: #ffffff;
  line-height: 21px;
}

._fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.page_content {
  width: 100%;
  overflow: hidden;
}

._container {
  max-width: $containerMaxWidth;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 960px;
  }

  @media (max-width: 992px) {
    max-width: 720px;
  }

  @media (max-width: 768px) {
    max-width: 540px;
  }

  @media (max-width: 576px) {
    max-width: 90%;
    //padding: 0;
  }
}


.btn {
  display: inline-block;

  color: $color_font_btn;
  border: $border_btn;
  background-color: transparent;
  @include font_sett ($fontFamilySecond, $font-Bold, 1.1em);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 10px 25px;
  transition: all 0.25s ease;

  .btn-primary {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
    ;
  }

  &:hover {
    background-color: $wet-asphalt;
    border-color: $wet-asphalt;
    color: #fff;
  }
}



.counter-control {
  display: flex;

  &__btn--desc, &__btn--inc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: $fontFamilyPrim;
    font-size: 2em;
    height: 40px;
    width: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
    transition: all .5s ease;

    &:hover {
      background: $silver;
    }
  }

  &__fieldCount {
    border: 0;
    padding: 5px 0;
    font-family: $fontFamilyPrim;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2em;
    align-items: center;
    text-align: center;
    width: 40px;
    outline: none;
  }
}

// <ГОТОВЫЕ КЛАССЫ> =====================================================
// .rub:after {
//   content: '₽';
// }

// Заголовок страниц
.page-section {
  //margin-top: 100px;
  margin-bottom: 160px;
  padding-top: 60px;

  &__title {
    text-align: center;
    margin-bottom: 60px;
    @extend %title-page;
  }
}
