// <Шрифты по умолчанию> ================================================
$fontFamilyPrim: 'OpenSans';
$fontFamilySecond: 'SFProDisplay';

//* </ШРИФТЫ> ===========================================================

//============= Размеры контейнеров.
$containerMaxWidth: 1140px;
$container-md1: 960px;
$container-md2: 720px;
$container-md3: 540px;
$container-md4: 100%;

//============= Размеры экранов.
$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 576;
$md5: 430;
$md6: 320;

//---------------------------------------

// насыщенность шрифта ================================================
$font-Thin: 200;
$font-Light: 300;
$font-Regular: 400;
$font-Medium: 500;
$font-SemiBold: 600;
$font-Bold: 700;


// Цвета
$white: #fff;
$red: #e74c3c; //#FA4E5E;
$alizarin: #e74c3c;
$black: #000;
$midnight-blue-r: rgba(44, 62, 80, 0.95);
$midnight-blue: #2c3e50;
$midnight-blue-lite: #364c62;
$black-blue: #1f2b38;
$wet-asphalt:#5a7ea3;
$asbestos:#7f8c8d;
$concrete: #95a5a6; //$defTextColor: #000;
$silver: #bdc3c7;
$light-gray: #ecf0f1;
$pumpkin: #d35400;

//


$hoverColor: $wet-asphalt; // Цвет ховера
$bg_head: $midnight-blue-r; //Цвет шапки
$bg_footer: $midnight-blue-r; // Цвет подвала

// Кнопки
$color_font_btn: $midnight-blue;
$border_btn: 1px solid $silver;
$font_btn: $fontFamilySecond, $font-Medium, 1em;
$brd_btn: 1px solid $silver;

// Заголвок секции, категории
$font-family_title_section: $fontFamilySecond;
$font-weight_title_section: $font-Thin;
$font-size_title_section: 4em; // размер шрифта в em
$color_title_section: $black-blue;

// Заголвок категории
$font-family_title_category: $fontFamilySecond;
$font-weight_title_category: $font-Thin;
$font-size_title_category: 4em;
$color_title_category: $black-blue;

//submenu
$bg-color-submenu: $light-gray;
$boder-color-submenu: $silver;
$shadow-sub-menu: 0 0 25px rgba(63, 78, 100, 0.15);
$border-submenu: 1px solid $silver;
