/*****************************
00. Global CSS
*****************************/
//*===== Font Family =====*//

// $body-font: 'OpenSans';
// $font-2: 'SFProDisplay';
$body-font: 'Poppins', sans-serif;
$font-2: 'SFProDisplay', sans-serif;
$font-3: 'Roboto', sans-serif;

//*==== Font size =====*//
$body-font-size: 16px;

//*==== Line height ====*//
$line-height: 1.75;

//*==== Border Color ====*//
$border-color: #eeeeee;

//*==== Color =====*//


//============= Размеры контейнеров.
$containerMaxWidth: 1140px;
$container-md1: 960px;
$container-md2: 720px;
$container-md3: 540px;
$container-md4: 100%;

//============= Размеры экранов.
$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 576;
$md5: 430;
$md6: 320;

//---------------------------------------

// насыщенность шрифта ================================================
$font-Thin: 200;
$font-Light: 300;
$font-Regular: 400;
$font-Medium: 500;
$font-SemiBold: 600;
$font-Bold: 700;


//*------ Основные Цвета ---------*//
$color-white:               #fff;
$color-black:               #000;
$color-red:                 #e74c3c; //#FA4E5E;
$color-alizarin:            #e74c3c;
$color-pumpkin:             #d35400;
$color-black-blue:          #1f2b38;
$color-midnight-blue-r:     rgba(44, 62, 80, 0.95);
$color-midnight-blue:       #2c3e50;
$color-midnight-blue-lite:  #364c62;
$color-wet-asphalt:         #5a7ea3;
$color-asbestos:            #7f8c8d;
$color-concrete:            #95a5a6; //$defTextColor: #000;
$color-silver:              #bdc3c7;
$color-light-gray:          #ecf0f1;
$color-sand:                #f6f6f6;

//*===== Colors =====*//

$body-color:    #666666;
$primary-color: $color-wet-asphalt;
$heading-color: #111111;

//*==== Border Color ====*//
$border-color: #eeeeee;

//*==== Color =====*//
$color-head-bg:         $color-midnight-blue-r; //Цвет шапки
$color-footer-bg:       $color-midnight-blue-r; // Цвет подвала
$color-hover:           $color-wet-asphalt;     // Цвет ховера
$color-submenu-bg:      $color-light-gray;
$color-submenu-boder:   $color-silver;
$color_title_section:   $color-black-blue;
$color_title_category:  $color-black-blue;

//*=====  borders ======*//
$border-submenu: 1px solid $color-silver;
$border_btn: 1px solid $color-silver;


//*=====  shadows ======*//
$shadow-1: 0 0 25px rgba(63, 78, 100, 0.15);

//*====== gradient ======*//
$linear-gradient:linear-gradient(90deg,rgba(47, 43, 53, 0.44) 46.35%, rgba(255, 255, 255, 0) 100%);

//*======= transition ======//
$base-tranzition: all 250ms ease-out;


//*==========  fonts  ===========*//
$font-family_title_section: $font-2;
$font-weight_title_section: $font-Thin;
$font-size_title_section: 4em; // размер шрифта в em

$font-family_title_category: $font-2;
$font-weight_title_category: $font-Thin;
$font-size_title_category: 4em;
// // Кнопки
// $color_font_btn: $color-midnight-blue;
// $font_btn: $font-2, $font-Medium, 1em;


// // Заголвок секции, категории



// // Заголвок категории




