// Стили заголовка
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg_head;
  z-index: 10;
  // .header__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
  }

  &__logo {
    display: block;
    flex: 0 1 35%;
  }

  // .header__logo-container
  &__logo-container {
    display: flex;
    align-items: center;
    height: 63px;
  }

  // .header__navbar
  &__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 1 100%;
  }
}

/*
    Logo
*/
.logo {

  // .logo__img
  &__img {
    width: 63px;
    height: 63px;
    margin-right: 10px;
  }

  h2 {
    display: inline-block;
    color: $white;
    font-family: 'SFProDisplay';
    font-weight: 200;
    font-size: 2em;
  }
}

/*********************************
    navbar
*********************************/
.navbar-head {

  // .navbar_head__menu
  &__list-menu {
    display: flex;
    text-align: center;

    li {
      display: inline-block;

      a {
        font-family: 'SFProDisplay';
        font-weight: 300;
        font-size: 1.4em;
        color: $white;
        padding: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: $hoverColor;
        }
      }
    }
  }

  &__action {
    display: flex;
    text-align: center;
    margin-left: 60px;

    li {
      display: inline-block;
      text-align: center;
    }
  }

  // .navbar-head__burger
  &__burger {
    display: none;
    font-size: 2em;
    color: $white;
    transition: all .3s ease;

    &:hover {
      color: #b5aec4;
    }
  }
}

/*********************************
    Block icons
*********************************/
.action-icons {
  &__user {
    display: inline-block;
    position: relative;
  }

  &__user>a, &__cart>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: color 0.3s ease;


    &:hover {
      i {
        color: $hoverColor;
      }
    }

    i {
      font-size: 1.2em;
      color: $white;
    }
  }
}

/*********************************
 User Account
*********************************/
.user-icon {
  &:hover &::selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &:hover &__selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &__selection {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -50%;
    top: 130%;
    margin: 0;
    width: 210px;
    background: #52535f; //rgb(68, 65, 65);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    transition: all 0.2s ease;

    li {
      padding-left: 10px;
      padding-right: 10px;
      line-height: 50px;

      a {
        margin: 0;
        display: block;
        border-bottom: solid 1px #dddddd;
        font-size: 14px;
        text-align: left;
        color: #ffffff;
        line-height: 40px;
        width: 100%;
        transition: all 0.3s ease;

        &:hover {
          color: $hoverColor;
        }

        i {
          margin-right: 10px;
        }
      }

      &:last-child a {
        border-bottom: none;
      }
    }
  }
}

/*********************************
 User Account
*********************************/
.cart-icon {
  &>a {
    border-radius: 50%;
    background: #636363; //#285755;

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -9px;
      left: 25px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fe4c50;
      color: #ffffff;
    }
  }

  &__minicart {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    right: 5%;
    top: 130%;

  }
}

.minicart {

  // .minicart__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  // .minicart__list
  &__list {
    li {
      display: flex;
    }

    border: 1px solid blue;
  }

  // .minicart__item
  &__item {
    display: flex;


    border: 1px solid red;
  }

  // .minicart__item-remove

  &__item-remove {
    display: inline-block;
    width: 10px;
    height: 10px;
    color: #000;
    ;
  }
}

.item-cart {

  // .item-cart__image

  &__image {
    background: #c5c5c5;
  }
}

.item-car {

  // .item-car__body

  &__body {}
}

.cart-body {

  // .cart-body__name

  &__name {}

  // .cart-body__price

  &__price {}

  // .cart-body__quantity

  &__quantity {}
}

.icon {}

.icon-remove {}

.minicart-total {}

.price {}

.minicart-action {}

.btn {}
