/*****************************
 - minicart
*****************************/
.mini-cart-info{
  &:hover{
    .mini-cart.is-minicart{
      top: 100%;
      pointer-events: visible;
      visibility: visible;
      opacity: 1;
    }
  }
}

.mini-cart {
  min-width: 300px;
  margin-top: 30px;
  background:$color-submenu-bg;
  padding: 15px 10px;
  pointer-events: none;
  white-space: nowrap;
  //transform: translateX(-50%);
  box-shadow: $shadow-2;
  visibility: hidden;
  opacity: 0;
  transition: $base-tranzition;

  &.header-minicart{
    position: absolute;
    right: -50px;
    top: 150%;
    z-index: 111;
    //display: none;
  }

  a, p, span {
    font-family: $body-font;
  }

  // .minicart__list
  &__list {
    max-height: 350px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // .minicart__item

  &__item {
    display: block;
    min-height: 40px;
    margin: 0;
    padding: 15px 15px 15px 70px;
    position: relative;
    border-bottom: 1px solid $color-submenu-boder;
    overflow: hidden;
  }

  // .minicart__total

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 22px;
    padding: 12px 15px 0;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: $font-Regular;
  }

  // .minicart__action

  &__action {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.1%;
    padding: 12px 15px 0;
    position: relative;
    overflow: hidden;
  }
}

.btn.btn-mk {
  padding: 10px 0;
  width: 120px;
}



/***************************
// .item-minicart
****************************/
.item-minicart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // .item-minicart__remove
  &__remove-btn {
    position: absolute;
    font-size: 22px;
    color: $color-silver;
    background-color: trnsparent;
    right: 4px;
    top: 0;
    transition: all 250ms ease-out;

    &:hover {
      color: $color-alizarin;
    }
  }

  // .item-minicart__image
  &__title {
    text-align: left;
    padding-right: 15px;
    font-weight: $font-Bold;
    font-size: 1.2em;

    color: $color-black-blue;
  }
  &__img {
    position: absolute;
    width: 40px;
    height: 65px;
    margin: 0;
    left: 9px;
    top: 18px;
  }


  // .item-minicart__quantity
  &__quantity {
    font-size: 1.2em;
    font-weight: $font-Regular;
    display: block;
    text-align: left;
    position: relative;
    overflow: hidden;
  }

  // .item-minicart__amount
  &__amount {
    color: $color-midnight-blue-lite;
    white-space: nowrap;
    font-weight: $font-Bold;
    letter-spacing: .05em;

    span {
      display: inline-block;
    }
  }

  // .item-minicart__curency-symbol
}
