/*****************************
23 - Components - Button
*****************************/

//*-- 23.00 - Global Button --*//
.btn{
	display: block;
	text-align: center;
	position: relative;
	transition: $base-tranzition;
	background-color: $color-white;
	color: $primary-color;
	font-size: 16px;
	min-width: 184px;
	min-height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border: none;
	border-radius:(0);

	@include breakpoint(medium){
		min-width: 170px;
		min-height: 35px;
		line-height: 35px;
  }

	@include breakpoint(small){
		min-width: 160px;
		min-height: 45px;
		line-height: 45px;
  }

	@include breakpoint(xsmall){
		min-width: 150px;
	}

	&:hover{
		background: $primary-color;
		color: $color-white;
	}
	i{
		padding-left: 5px;
	}
	&.icon-left{
		i{
			padding-right: 5px;
			padding-left: 0;
		}
	}
	&-fullwidth{
		width: 100%;
		display: block;
	}
	&-small{
		min-width: 147px;
		min-height: 40px;
		line-height: 40px;
	}
	&-bg{
		&-sand{
			background: $color-sand;
		}
		&-primary{
			background: $primary-color;
			color: $color-white;
		}
		&-dark{
			background: $heading-color;
		}
	}
	&-no-bg{
		padding: 0;
		min-width: auto;
		min-height: auto;
		line-height: 1;
		margin-bottom: 0;
		background-color: transparent;

		&:hover{
			background-color: transparent;
			color: $primary-color;
		}
	}

	&-no-bg-brd{
		//@extend btn-no-bg;
		border: 1px solid $border-color;

		&:hover{
      border: 1px solid $primary-color;
    }
	}

	&-color{
		&-dark{
			color: $heading-color;
		}
		&-white{
			color: $color-white;
		}
	}
	&-hover{
		&-2{
			&:hover{
				background-color: $heading-color;
			}
		}
	}
}

//*-- 23.01 - Submit Button --*//

// .btn-submit{
// 	@include border-radius(5px);
// 	background-color: $color-persi;
// 	padding: 19px 21px;
// 	line-height: 1;
// 	@extend %white-color;
// 	font-weight: 700;
// 	font-family: $font-3;
// 	border: none;
// 	cursor: pointer;
// 	@include base-transition();
// 	&:hover{
// 		@extend %primary-bg-color;
// 	}
// 	&--small{
// 		padding: 15px 20px;
// 	}
// }

//*-- 23.02 - Action Button --*//

// .action-btn{
// 	@extend %white-bg-color;
// 	@extend %body-color;
// 	@extend %actionBtn;
// 	cursor: pointer;
// 	&.quick-view{
// 		i.flaticon{
// 			font-size: 24px;
// 		}
// 	}
// 	i{
// 		@extend %body-color;
// 		font-size: 18px;
// 		line-height: 45px;
// 	}
// }

//*-- 23.03 - Close Button --*//

// .btn-close {
//     font-size: 40px;
//     display: block;
//     position: absolute;
//     z-index: 5;
//     line-height: 40px;
//     height: 40px;
//     opacity: 1;
//     @extend %heading-color;
//     &:hover{
//     	@extend %primary-color;
//     }
// }
