.cart-icon {
  &:hover &::selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &:hover &__minicart {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  // .cart-icon__minicart
  &__minicart {
    @include submenu(0%);
    width: 280px;
    padding-bottom: 25px;
  }
}

.minicart {
  background: $color-submenu-bg;

  a, p, span {
    font-family: $body-font;
  }

  // .minicart__list
  &__list {
    max-height: 350px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // .minicart__item

  &__item {
    display: block;
    min-height: 40px;
    margin: 0;
    padding: 15px 15px 15px 70px;
    position: relative;
    border-bottom: 1px solid $color-submenu-boder;
    overflow: hidden;
  }

  // .minicart__total

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 22px;
    padding: 12px 15px 0;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: $font-Regular;
  }

  // .minicart__action

  &__action {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.1%;
    padding: 12px 15px 0;
    position: relative;
    overflow: hidden;
  }
}

.btn.btn-mk {
  padding: 10px 0;
  width: 120px;
}
