//product-item
$color_title_card: $color-black-blue;
$color_text_price-card: $color-black-blue;

//*****************************/
.product-item {
  position: relative;
  max-width: 250px;
  padding: 5px;
  margin: 0 0 40px 25px;
  transition: 0.5s linear;



  @include breakpoint(small) {
    max-width: 230px;
  }

  @include breakpoint(xsmall) {
    max-width: 225px;
  }

  @include breakpoint(xxsmall+50) {
    max-width: 100%;
  }

  @include breakpoint(largeonly) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: -1
    }

    &:hover {
      &::after {
        //border: 2px solid red; //$brd_card_hover
        box-shadow: 0px 0px 22px 4px rgba(119, 114, 114, 0.33);
      }
    }

    &:hover &__action {
      opacity: 1;
    }
  }



  &__wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &:hover .cart-product__action{
    bottom: 0;
  }


}

.cart-product{
  display: flex;

  img {
    display: block;
    border: 0;
    max-width: 100%;
  }


  &__action{
    display: flex;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    background: rgba(59,62,67,0.65);
    transition: .3s linear;

    .product-inner{
      &__btn{
        display: flex;
        width: 50%;
        color: $color-white;
        font-size: 24px;
        padding: 15px 0;
        transition: .2s linear;
        justify-content: center;

        &:hover{
          background: rgba(59,62,67,0.85);
          color: $color-hover;
        }

        &::before{
          font-family: 'fontello';
        }
        &.to-cart::before{
          content: '\f291';
        }
        &.to-view::before{
          content: '\e819';
        }
      }
    }
  }
}


.info-product {

  // .info-product__title
  &__title {
    /* font-title-card */
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 24px;
    color: $color_title_card;
    text-align-last: left;
    margin: 0;
    margin-bottom: .5rem;
  }

  // .info-product__price
  &__price {
    text-align-last: left;
    @include price_ru('OpenSans', 700, 2.4rem, $color_text_price-card);
  }
}
