/*****************************
 - Section cart
*****************************/

.cart-row {
  //display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.cart-column {
  display: flex;
}

/*   Блок  Карзины покупок (shopping-cart)  */
.shopping-cart {
   // .shopping-cart__form
  flex: 0 0 66.7%;
  min-width: 66.7%;

  &__content {
    display: flex;
    flex: 0 0 100%;
    margin: 0;
  }
}

/*    Блок калькулятора карзины   calculator-inner   */
.calculator-inner {
  // .cart-calculate
  flex: 0 0 33.3%;
  min-width: 33.3%;
  padding: 0 15px;

  &__area{
    width: 100%;

    &--title {
      display: block;
      font-size: 16px;
      margin-bottom: 20px;

      &.totals-title{
        text-transform: uppercase;
      }
    }
  }
}
