.section-prod {
  padding: 90px 0;

  @include media-max($md4) {
    padding: 40px 0;
  }

  @media (max-width: 445px) {
    padding-top: 80px;
  }

  // .section__content
  &__content {
    text-align: center;
  }
}

.prod-section {

  text-align: center;

  // .content-section__title
  &__title {
    @include font_sett($font-family_title_category, $font-weight_title_category, $font-size_title_category);
    color: $color_title_category;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: 60px;

    @include media-max($md4) {
      font-size: 3em;
      margin-bottom: 24px;
    }

    @include media-max($md5) {
      font-size: 2em;
      margin-bottom: 18px;
    }
  }

  // .content-section__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
}
