<!-- Cart Calculate Area -->
<div class="calculator-inner__area cart-calculate">
  <div class="cart-calculate__wrapper">
    <!-- Блок купона -->
    <div class="cart-calculate__column cart-coupone">
      <h5 class="calculator-inner__area--title">Код скидки</h5>
      <form class="cart-cupone__form">
        <input
          class="cart-cupone__form--input"
          type="text"
          placeholder="Код купона"
        />
        <button type="submit"
          class="btn btn-fullwidth btn-no-bg-brd">
          Добавить купон
        </button>
      </form>
    </div>

    <!-- Блок  cart-total -->
    <div class="cart-calculate__column cart-totals">
      <h5 class="calculator-inner__area--title totals-title">Итог корзины</h5>
      <div class="cart-totals__calculator cart-calculator">
        <div class="cart-calculator__item">
          <div class="cart-calculator__item--head">
            <span>Сумма покупки:</span>
          </div>
          <div class="cart-calculator__item--value">
            <span>196.00</span>
          </div>
        </div>
        <div class="cart-calculator__item">
          <div class="cart-calculator__item--head">
            <span>Доставка:</span>
          </div>
          <div class="cart-calculator__item--value">
            <span>196.00</span>
          </div>
        </div>
        <div class="cart-calculator__item">
          <div class="cart-calculator__item--head">
            <span>Итог:</span>
          </div>
          <div class="cart-calculator__item--value">
            <span>196.00</span>
          </div>
        </div>
      </div>
      <a href="checkout-page.html"
        class="btn btn-fullwidth btn-bg-primary cart-calculator__btn">Перейти к оформлению заказа</a>
    </div>
    <!-- </div> -->
  </div>
  <!-- /cart-calculate__wrapper  -->
</div>
