 <!-- Form table area -->
 <div class="shopping-cart__content table-area" action="#">
  <div class="table-area__wrapper">
    <h5 class="calculator-inner__area--title">Корзина покупок</h5>
    <div class="table table-area__row table-content">
       @@include('./_table-cart__content.html',{})
    </div>
    <!-- /shopping-cart__row no-gutters -->

    <div class="table-area__row action-inner">
      <a href="#" class="btn  btn-no-bg-brd action-inner__btn-to-shop">
        Вернуться к покупкам
      </a>
      <a href="#" class="btn  btn-no-bg-brd action-inner__refresh-btn">
        Обновить корзину
      </a>
    </div>
  </div>
</div>
