<!--Start row cart table -->
<tr class="product-shop__row">
  <td class="product-shop__remove">
    <a href="#"></a>
  </td>
  <td class="product-shop__thumbnail">
    <div class="product-img">
      <img src="assets/img/products/item-1.png"
      alt="Product Thumnail"/>
    </div>
  </td>
  <td class="product-shop__name txt-left wide-column">
    <h3>
      <a href="product-page.html"
        >Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.</a
      >
    </h3>
  </td>
  <td class="product-shop__price txt-right">
    <span class="product-price__wrapper">
      <span class="money">$10000.00</span>
    </span>
  </td>
  <td class="product-shop__quantity">
    @@include('../utilites/_counter-control.html')
  </td>
  <td class="product-shop__total-price txt-right">
    <span class="product-price__wrapper">
      <span class="money">$10000.00</span>
    </span>
  </td>
</tr>
<!--End row cart table -->
