<div class="form-content__table table-cart">

  <table class="table-cart__content table txt-center">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th class="txt-left">Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody class="table-cart__body product-shop">
      @@include('./_row-table-cart.html'{})
      @@include('./_row-table-cart.html'{})
      @@include('./_row-table-cart.html'{})
    </tbody>
  </table>
  <!-- / table -->
</div>
