<div class="cart-form__table table-cart">

  <table class="table-cart__content table text-center">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th class="text-left">Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="product-remove text-left">
          <a href="#"
            ></a>
        </td>
        <td class="product-thumbnail text-left">
          <div class="product-img"><img
            src="assets/img/products/item-1.png"
            alt="Product Thumnail"
          /></div>
        </td>
        <td class="product-name text-left wide-column">
          <h3>
            <a href="product-page.html"
              >Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.</a
            >
          </h3>
        </td>
        <td class="product-price">
          <span class="product-price-wrapper">
            <span class="money">$10000.00</span>
          </span>
        </td>
        <td class="product-quantity">
          <div class="quantity counter-control">
            <a class="counter-control__btn--desc" id="dec">-</a>
            <input
              type="number"
              class="counter-control__fieldCount"
              id="fieldCount"
              value="1"
              min="1"
              max="20"
            />
            <a class="counter-control__btn--inc" id="inc">+</a>
          </div>
        </td>
        <td class="product-total-price">
          <span class="product-price-wrapper">
            <span class="money">$10000.00</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- / table -->
</div>
