<li class="mini-cart__item item-minicart">
  <a class="item-minicart__remove-btn" href="#" aria-label="Удалить продукт"
    ><i class="icon icon-ei-close-o" aria-hidden="true"></i
  ></a>
  <a href="#" class="item-minicart__title">
    <img class="item-minicart__img" src="./assets/img/products/item-2.png" alt="" />
    Товар</a
  >
  <span class="item-minicart__quantity">
    1 x
    <span class="item-minicart__amount">
      <span class="item-minicart__curency-symbol">₽</span>125</span
    >
  </span>
</li>
