/********************************
      checkout-top-area
********************************/

.checkout-top-area{
  padding-top: 50px;
}

.checkout-column{
  display: flex;
  margin-bottom: 40px;
}

.user-actions{
	&__form{
    margin-bottom: 30px;
    display: none;
    p{
      margin: 0;
    }

		@include breakpoint(small){
			margin-bottom: 20px;
		}
		.form{
			&__input{
				width: 48%;
        height: 40px;


				@include breakpoint(xsmall){
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
}

/*-- Message Box --*/
.message-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 14px 30px;
  //margin-bottom: 10px;
  width: auto;
  word-wrap: break-word;
  background: $bg-color;

  p{
    i{
      margin-right: 20px;
      color: green;
    }
  }

  p, a{
    color: $heading-color;
    margin: 0px;
  }
}

.form__group{
  display: flex;
}



/********************************
      checkout-input-form
********************************/
.checkout-orders__row{
  display: flex;
  padding-bottom: 80px;

  @include breakpoint(medium){
    padding-bottom: 60px;
  }

  @include breakpoint(small){
    padding-bottom: 40px;
  }
}

.checkout-bill-detail{
  flex: 0 0 50%;
  max-width: 50%;
  // &__title{
  //   margin-top: 10px;

  //    h2 {
  //     position: relative;
  //     font-size: 20px;
  //     margin-bottom: 45px;

  //     @include breakpoint(medium){
	// 			margin-bottom: 30px;
	// 		}
	// 		@include breakpoint(xsmall){
	// 			margin-bottom: 20px;
	// 		}

  //     &:after{
  //       content: "";
  //       width: 50px;
  //       display: block;
  //       margin-top: 10px;
  //       border-bottom-width: 2px;
  //       border-bottom-style: solid;
  //       border-color: inherit;
  //     }
  //   }
 // }
  @extend %title-checkout !optional;
}

/****   form-checkout     */

.form-checkout{
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-bottom: 20px;

    .form-group, .form-group-2{
      display: flex;
      flex-direction: column;
      align-items:  flex-start;
    }
    .form-group{
      flex: 0 0 50%;
      max-width: 50%;
    }
    .form-group--2{
      flex: 0 0 100%;
      max-width: 100%;
    }

  }

  &__label{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
  }

  &__input{
    border: 1px solid $border-color;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}


/********  checkout-order-details  **********/
.checkout-order-details{
  &__title{
    @extend %title-checkout !optional;
  }
}
