/********************************
      checkout-top-area
********************************/

.checkout-top-area{
  padding-top: 20px;
}

.checkout-column{
  display: flex;
  margin-bottom: 40px;
}

.user-actions{
	&__form{
    margin-bottom: 30px;
    display: none;
    p{
      margin: 0;
    }

		@include breakpoint(small){
			margin-bottom: 20px;
		}
		.form{
			&__input{
				width: 48%;
        height: 40px;


				@include breakpoint(xsmall){
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
}

/*-- Message Box --*/
.message-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 14px 30px;
  width: auto;
  word-wrap: break-word;
  background: $bg-color;

  p{
    i{
      margin-right: 20px;
      color: green;
    }
  }

  p, a{
    color: $heading-color;
    margin: 0px;
  }
}

.form__group{
  display: flex;
}



/********************************
      checkout-input-form
********************************/
.checkout-orders__row{
  display: flex;
  padding-bottom: 80px;

  @include breakpoint(medium){
    padding-bottom: 60px;
  }

  @include breakpoint(small){
    padding-bottom: 40px;
  }
}

.checkout-bill-detail{
  flex: 0 0 66.6%;
  max-width: 66.6%;
  padding: 0 55px 0 15px;

  @extend %title-checkout !optional;
}

/****   form-checkout     */

.form-checkout{
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .form-group, .form-group-2{
      display: flex;
      flex-direction: column;
      align-items:  flex-start;
    }
    .form-group{
      flex: 0 0 50%;
      max-width: 50%;
    }
    .form-group-2{
      flex: 0 0 100%;
      max-width: 100%;
    }

  }

  &__label{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
  }

  &__input{
    border: 1px solid $border-color;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}


/********  checkout-order-details  **********/
.checkout-order-details{
  flex: 0 0 33.4%;
  max-width: 33.4%;
  padding: 40px 15px 45px 15px;
  &__title{
    @extend %title-checkout !optional;
  }
}

.table-content{

  margin-bottom: 30px;

  .order-table{

    th{
      text-align: left;
    }

    td{
      text-align: right;
    }
  }
}

.order-table{
  background-color: transparent;
  border-collapse: collapse;
  width: 100%;
  &-head{
    border-bottom: 1px solid $border-color;
  }

  .cart-subtotal, .shipping, .order-total{
    border-top: 1px solid $border-color;
  }
}

.checkout-payment{
  &__group{
    margin-bottom: 10px;
  }
  &__label{
    text-transform: uppercase;
  }

  &__info{
    p{
      font-size: 12px;
      padding-left: 30px;
    }
  }
}
