<div class="product-info__column">
  <div class="product-info__left left-panel">
    <div class="left-panel__slider1">
      <div class="product-info-slider1">
        @@include('./_item-slider-large.html',{})
        @@include('./_item-slider-large.html',{})
        @@include('./_item-slider-large.html',{})

      </div>
      <!-- /product-info-slider1 -->
    </div>
    <!-- /left-panel__slider1 -->

    <div class="left-panel__slider2">
      <div class="product-info-slider2">
        @@include('./_item-slider-small.html',{})
        @@include('./_item-slider-small.html',{})
        @@include('./_item-slider-small.html',{})

      </div>
    </div>
    <!-- /left-panel__slider2 -->

  </div>
  <!-- /product-info__left -->
</div>
<!-- /product-info__column -->
