<div class="product-info__column">
  <div class="product-info__left product-info-left">
    <div class="product-info-left__images slider-navigation-2">
      @@include('./_item-slider-large.html',{})
      @@include('./_item-slider-large.html',{})
      @@include('./_item-slider-large.html',{})
    </div>
    <!-- /product-info__image slick-initialized slick-slider -->
    <div class="product-info-left__thumbs product-info__thumbs--2 slider-navigation-2">
      @@include('./_item-slider-small.html',{})
      @@include('./_item-slider-small.html',{})
      @@include('./_item-slider-small.html',{})
    </div>
    <!-- /product-info__thumbs slick-initialized slick-slider slick-vertikal -->
  </div>
  <!-- /product-info__left -->
</div>
<!-- /product-info__column -->
