/*
  local vars
*/
$font-family_logo-text: $fontFamilySecond;
$font-weight_logo-text: $font-Thin;
$font-size_logo-text: 2em;

$font-family_nav-menu: $fontFamilySecond;
$font-weight_nav-menu: $font-Light;
$font-size_nav-menu: 1.2em;

$font-family_account: $fontFamilySecond;
$font-weight_account: $font-Light;
$font-size_account: 1.2em;

$font-size_icon_sm: 1.2em;
$font-size_icon_lg: 2em;

//**************************

// Стили заголовка
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg_head;
  z-index: 10;
  // .header__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
  }

  &__logo {
    display: block;
    flex: 0 1 35%;

    @media (max-width: 992px){
      flex: 0 1 auto;
    }

    @media(max-width: 768px){
      flex: 0 1 auto;
    }
  }

  // .header__logo-container
  &__logo-container {
    display: flex;
    align-items: center;
    height: 63px;
  }

  // .header__navbar
  &__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 1 auto;
  }
}

/*
    Logo
*/
.logo {
  // .logo__img
  &__img {
    width: 63px;
    height: 63px;
    margin-right: 10px;

    @media(max-width: 768px){
      display: none;
    }
  }

  h2 {
    display: inline-block;
    color: $white;
    font-family: $font-family_logo-text;
    font-weight: $font-weight_logo-text;
    font-size: $font-size_logo-text;
  }
}

/*********************************
    navbar
*********************************/
.navbar-head {

  // .navbar_head__menu
  &__list-menu {
    display: flex;
    text-align: center;

    &>li {
      display: inline-block;

      &>a {
        font-family: $font-family_nav-menu;
        font-weight: $font-weight_nav-menu;
        font-size: $font-size_nav-menu;
        text-transform: uppercase;

        color: $white;
        letter-spacing: .1em;
        padding: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: $hoverColor;
        }
      }
    }

    @media (max-width: 992px){
      display: none;
    }
  }

  &__action {
    display: flex;
    text-align: center;
    margin-left: 60px;

    &>li {
      display: inline-block;
      text-align: center;
    }
    @media(max-width: 992px){
      margin: 0;
      margin-right: 30px;
    }
    // @media (max-width: 576px ){
    //   margin: 0;
    //   margin-right: 30px;
    // }
  }

  // .navbar-head__burger
  &__burger {
    display: none;
    // font-size: $font-size_icon_lg;
    // color: $white;
    // transition: all .3s ease;

    // &:hover {
    //   color: $hoverColor;
    // }

    @media(max-width: 992px){
      display: block;
    }
  }
}

/*********************************
    Block icons
*********************************/
.action-icons {
  &__user, &__cart, &__instagram {
    display: inline-block;
    position: relative;
  }

  &__user>a, &__cart>a, &__instagram>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    height: 80px;
    margin: 0 10px;
    transition: color 0.3s ease;
    color: $white;

    &>i{
      font-size: 1.2em;
    }


    &:hover i {
        color: $hoverColor;
    }

    @media (max-width: 992px ){

      &>i{
        font-size: 1.6em;
      }

      margin: 0 15px;
    }

    @media (max-width: 576px ){

      &>i{
        font-size: 1.8em;
      }

      margin: 0 15px;
    }


  }
}

/*********************************
 User Account
*********************************/
.user-icon {
  &:hover &::selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &:hover &__selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &__selection {
    @include submenu(-100%);
    width: 210px;
    padding-left: 10px;
    padding-right: 10px;

    & a {
      margin: 0;
      display: block;
      border-bottom: solid 1px $boder-color-submenu;
      font-family: $font-family_account;
      font-size: $font-size_account;
      font-weight: $font-weight_account;
      line-height: 40px;
      color: #504e4e;
      letter-spacing: .1em;
      text-align: left;
      width: 100%;
      transition: all 0.3s ease;

      &:hover {
        color: $hoverColor;
      }

      i {
        font-size: $font-size_icon_sm;
        margin-right: 10px;
      }
    }

    li:last-child a {
      border-bottom: none;
    }
  }
}

/*********************************
 Cart Icon
*********************************/
.cart-icon {
  &>a {
    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      top: 25%;
      left: -7px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #636363; //#285755;

      @media(max-width: 576px){
        top: 24%;
      }
    }

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 12px;
      left: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $red; //#fe4c50;
      color: #ffffff;

      @media(max-width: 576px){
        font-size: 1em;
      }
    }
  }
}

@media(max-width:992px){
  .head-burger{
    display: block;
    position: absolute;
    right:35px;
    top: 40px ;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border:none;

    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0 ;
      width: 30px;
      height: 2px;
      background-color: #fff;
      margin-top: -7px;
      transition: transform 0.3s ease;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0 ;
      width: 30px;
      height: 2px;
      background-color: #fff;
      margin-top: 7px;
      transition: transform 0.3s ease;
    }

    &__active{
      height: 0;
    }

    &__active:before{
      transform: rotate(45deg);
      margin-top: 0;
    }

    &__active::after{
      transform: rotate(-45deg);
      margin-top: 0;
    }
  }
}
