/*
  local vars
*/

//**************************

// Стили заголовка
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg_head;
  z-index: 10;

  &__row {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 80px;

    @media (max-width: 768px) {
      height: 65px;
    }
  }

  &__logo {
    display: inline-block;
  }

  // .header__logo-container
  &__logo-container {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    height: 100%;
  }

  // .header__navbar
  &__navbar {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

/*
    Logo
*/
.logo {

  @media(max-width: 430px) {
    max-width: 80px;
  }

  // .logo__img
  &__img {
    width: 63px;
    height: 63px;
    margin-right: 10px;

    &>img {
      max-width: 100%;
    }

    @media(max-width: 992px) {
      width: 45px;
      height: 45px;
    }

    @media(max-width: 576px) {
      width: 35px;
      height: 35px;
    }

    @media(max-width: 430px) {
      margin-right: 0px;
    }
  }

  h2 {
    display: inline-block;
    color: $white;
    font-family: $fontFamilySecond;
    font-weight: $font-Thin;
    font-size: 2em;

    @media (max-width: 992px) {
      font-size: 1.6em;
    }

    @media (max-width: 576px) {
      font-size: 1.4em;
    }

    @media (max-width: 430px) {
      display: none;
    }
  }
}

/*********************************
   Блок меню
*********************************/
.navbar-head {

  // .navbar_head__menu
  &__list-menu {
    flex: 1 1 auto;
    display: flex;
    text-align: center;
    justify-content: center;

    &>li {
      display: inline-block;

      &>a {
        font-family: $fontFamilySecond;
        font-weight: $font-Light;
        font-size: 1.2em;
        text-transform: uppercase;

        color: $white;
        letter-spacing: .1em;
        padding: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: $hoverColor;
        }

        @media (max-width: 992px) {
          padding: 10px;
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__action {
    display: flex;
    text-align: center;
  }

  // .navbar-head__burger
  &__burger {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;


    &:hover {
      color: $hoverColor;
    }

    @media(max-width: 768px) {
      display: block;
      flex: 0 1 auto;
    }
  }
}

/*********************************
    Бок иконок
*********************************/
.action-icon {

  @media(max-width: 1200px) and (min-width: 993px) {
    margin-right: 20px;
  }

  @media(max-width: 768px) {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &>li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;


    &:last-child {
      margin-right: 0px;
    }

    @media(max-width: 992px) {
      margin-right: 5px;
    }
  }

  &__user, &__cart, &__instagram {
    display: inline-block;
    position: relative;
  }

  &__user>a, &__cart>a, &__instagram>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    height: 80px;
    transition: color 0.3s ease;
    color: $white;

    &>i {
      font-size: 1.8em;
    }

    &:hover i {
      color: $hoverColor;
    }

    @media (max-width: 992px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: 768px) {
      height: 65px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}

/*********************************
 User Account
*********************************/
.user-icon {
  &:hover &::selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &:hover &__selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &__selection {
    @include submenu(-100%);
    width: 210px;
    padding-left: 10px;
    padding-right: 10px;

    & a {
      margin: 0;
      display: block;
      border-bottom: solid 1px $boder-color-submenu;
      font-family: $fontFamilySecond;
      font-size: 1.2em;
      font-weight: $font-Light;
      line-height: 40px;
      color: #504e4e;
      letter-spacing: .1em;
      text-align: left;
      width: 100%;
      transition: all 0.3s ease;

      &:hover {
        color: $hoverColor;
      }

      i {
        font-size: 1.2em;
        margin-right: 10px;
      }
    }

    li:last-child a {
      border-bottom: none;
    }
  }
}

/*********************************
 Cart Icon
*********************************/
.cart-icon {

  &>a {

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 18px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: $red; //#fe4c50;
      color: #ffffff;
      font-size: 1em;

      @media(max-width: 1200px) {
        font-size: .8em;
        width: 18px;
        height: 18px;
        left: 18px;
        top: 17px;
      }

      @media(max-width: 992px) {
        left: 33px;
      }

      @media(max-width: 768px) {
        top: 10px;
      }
    }
  }
}

@media(max-width:768px) {
  .head-burger {
    display: block;
    position: absolute;
    right: 4px;
    top: 19px;
    width: 24px;
    height: 2px;
    background-color: #fff;
    border: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 2px;
      background-color: #fff;
      margin-top: -7px;
      z-index: 99;
      transition: transform 0.3s ease;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 2px;
      background-color: #fff;
      margin-top: 7px;
      transition: transform 0.3s ease;
    }

    &__active {
      height: 0;
    }

    &__active:before {
      transform: rotate(45deg);
      margin-top: 0;
    }

    &__active::after {
      transform: rotate(-45deg);
      margin-top: 0;
    }
  }
}
