<div class="checkout-bill-detail">
  <div class="checkout-bill-detail__title">
      <h2>Ркевизиты</h2>
  </div>
  <!-- Блок формы  -->
  <div class="checkout-bill-detail__form">
      <form action="#" class="form form-checkout">
          <div class="form-checkout__row">
              <div class="form-group pr--10">
                  <label for="billing_fname" class="form-checkout__label form__label--2">Имя  <span class="required">*</span></label>
                  <input type="text" name="billing_fname" id="billing_fname" class="form-checkout__input" placeholder="Введите имя">
              </div>
              <div class="form-group pl--10">
                  <label for="billing_lname" class="form-checkout__label form__label--2">Фамилия  <span class="required">*</span></label>
                  <input type="text" name="billing_lname" id="billing_lname" class="form-checkout__input" placeholder="Введите фамилию">
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="billing_country" class="form-checkout_label">Страна <span class="required">*</span></label>
                  <select id="billing_country" name="billing_country" class="form-checkout__input nice-select">
                      <option value="">Выберите страну…</option>
                      @@include('../utilites/_select-options-value.html')
                  </select>
              </div>
            </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="billing_streetAddress" class="form-checkout__label">Улица <span class="required">*</span></label>

                  <input type="text" name="billing_streetAddress" id="billing_streetAddress" class="form-checkout__input mb--30" placeholder="Номер дома и название улицы">

                  <input type="text" name="billing_apartment" id="billing_apartment" class="form-checkout__input" placeholder="Квартира,  блок">
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="billing_city" class="form-checkout__label">Город <span class="required">*</span></label>
                  <input type="text" name="billing_city" id="billing_city" class="form-checkout__input" placeholder="Введите город">
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="billing_state" class="form__label">Регион <span class="required">*</span></label>
                  <input type="text" name="billing_state" id="billing_state" class="form-checkout__input" placeholder="Введите регион">
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="billing_phone" class="form-checkout__label">Телефон <span class="required">*</span></label>
                  <input type="text" name="billing_phone" id="billing_phone" class="form-checkout__input" placeholder="Ваш телефон">
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="billing_email" class="form-checkout__label">Email  <span class="required">*</span></label>
                  <input type="email" name="billing_email" id="billing_email" class="form-checkout__input" placeholder="Ваш e-mail">
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <div class="custom-checkbox mb--20">
                      <input type="checkbox" name="shipdifferetads" id="shipdifferetads" class="form__checkbox">

                      <label for="shipdifferetads" class="form-checkout__label shipping-label">Отправить по другому адресу?</label>
                  </div>
                  <div class="ship-box-info hide-in-default mt--30">
                      <div class="form-row mb--20">
                          <div class="form__group col-md-6 mb-sm--30">
                              <label for="shipping_fname" class="form__label form__label--2">First Name  <span class="required">*</span></label>
                              <input type="text" name="shipping_fname" id="shipping_fname" class="form__input form__input--2">
                          </div>
                          <div class="form__group col-md-6">
                              <label for="shipping_lname" class="form__label form__label--2">Last Name  <span class="required">*</span></label>
                              <input type="text" name="shipping_lname" id="shipping_lname" class="form__input form__input--2">
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_company" class="form__label form__label--2">Company Name (Optional)</label>
                              <input type="text" name="shipping_company" id="shipping_company" class="form__input form__input--2">
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_country" class="form__label form__label--2">Country <span class="required">*</span></label>
                              <select id="shipping_country" name="shipping_country" class="form__input form__input--2 nice-select">
                                  <option value="">Select a country…</option>
                                  @@include('../utilites/_select-options-value.html')
                              </select>
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_streetAddress" class="form__label form__label--2">Street Address <span class="required">*</span></label>

                              <input type="text" name="shipping_streetAddress" id="shipping_streetAddress" class="form__input form__input--2 mb--30" placeholder="House number and street name">

                              <input type="text" name="shipping_apartment" id="shipping_apartment" class="form__input form__input--2" placeholder="Apartment, suite, unit etc. (optional)">
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_city" class="form__label form__label--2">Town / City <span class="required">*</span></label>
                              <input type="text" name="shipping_city" id="shipping_city" class="form__input form__input--2">
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_state" class="form__label form__label--2">State / County <span class="required">*</span></label>
                              <input type="text" name="shipping_state" id="shipping_state" class="form__input form__input--2">
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_phone" class="form__label form__label--2">Phone <span class="required">*</span></label>
                              <input type="text" name="shipping_phone" id="shipping_phone" class="form__input form__input--2">
                          </div>
                      </div>
                      <div class="form-row mb--20">
                          <div class="form__group col-12">
                              <label for="shipping_email" class="form__label form__label--2">Email Address  <span class="required">*</span></label>
                              <input type="email" name="shipping_email" id="shipping_email" class="form__input form__input--2">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="form-checkout__row">
              <div class="form-group-2">
                  <label for="orderNotes" class="form-checkout__label">Примечания к заказу</label>
                  <textarea class="form__input form__input--2 form__input--textarea" id="orderNotes" name="orderNotes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
              </div>
          </div>
      </form>
  </div>
  <!-- / Блок формы  -->
</div>
