<div class="checkout-top-area">
  <div class="checkout-column">
      <!-- User Action Start -->
      <div class="user-actions user-actions__coupon">
          <div class="message-box">
              <p><i class="icon ic-attention-circled"></i> Есть купон? <a class="expand-btn" href="#coupon_info">Нажмите здесь, чтобы ввести свой код.</a></p>
          </div>
          <div id="coupon_info" class="user-actions__form ">
              <form action="#" class="form">
                  <p>Если у вас есть код купона, пожалуйста, введите его ниже.</p>
                  <div class="form__group">
                      <input type="text" name="coupon" id="coupon" class="form__input" placeholder="Код купона">
                      <button type="submit" class="btn  btn-hover">Применить Купон</button>
                  </div>
              </form>
          </div>
      </div>
      <!-- User Action End -->
  </div>
</div>
