/*****************************
11 - Layout - Footer
*****************************/

.footer {
  font-size: 16px;
  font-family: $font-2;
  font-weight: $font-Regular;
  margin-top: 120px;

  &__top-wrapper{
    background: $color-bg-footer-top;
    padding-top: 55px;
    a,span{
      color: $color-footer-top;
    }
  }

  &__bottom-wrapper{
    background: $color-bg-footer-boottom;
    padding: 15px 0;
    a,span{
      color: $color-footer-boottom;
    }
  }

  // .footer__content
  &__content {
    display: flex;
    flex-direction: column;

    a {
      font-family: $font-2;
      font-weight: $font-Regular;
      line-height: 30px;
      letter-spacing: 0.1em;
    }
  }

  // .footer__row
  &__row {
    display: flex;

    @include breakpoint($md6) {
      flex-direction: column;
    }
  }

  // .footer__column
  &__column {
    flex: 1 0 50%;
    display: flex;
    align-items: center;

    @include breakpoint(xsmall) {
      justify-content: center;

      &.nav-menu {
        display: none;
      }
    }

    @include breakpoint($md6) {
      flex: 0 0 100%;
    }
  }

  &__form {
    display: block;
  }
}

.footer-info {
  margin-bottom: 25px;
}

.menu-footer {
  &__list {
    li {
      padding-bottom: 5px;
    }
  }

  // .menu-footer__link
  &__link {
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    @include item_menu($font-2, $font-Thin, 16px, $color-white, $color-hover);
  }
}

.footer-social {
  margin-bottom: 35px;
  a {
    font-size: 16px;
  }
}

.footer-bottom {
  span,
  a {
    font-size: 13px;
  }
}
