$__color_foot_svg: $color-asbestos;
$__color_foot_placehold: $color-asbestos;
$__brd_foot_input: 1px solid $color-asbestos;

.footer {
  background: $color-footer-bg;
  color: $color-white;
  padding-top: 55px;
  padding-bottom: 30px;
  font-size: 16px;
  font-family: $font-2;
  font-weight: $font-Thin;

  // .footer__content
  &__content {
    display: flex;
    flex-direction: column;
    a {
        color: $color-white;
        font-family: $font-2;
        font-weight: $font-Thin;
        line-height: 30px;
        letter-spacing: 0.1em;
      }

  }

  // .footer__row
  &__row {
    display: flex;

    @include breakpoint($md6) {
      flex-direction: column;
    }
  }

  // .footer__column
  &__column {
    flex: 1 0 50%;
    display: flex;

    @include breakpoint(xsmall) {
      justify-content: center;

      &.nav-menu {
        display: none;
      }
    }

    @include breakpoint($md6) {
      flex: 0 0 100%;
    }
  }

  &__form {
    display: block;
  }
}

.footer-info {
  margin-bottom: 25px;
}

.menu-footer {
  &__list {
    li {
      padding-bottom: 5px;
    }
  }

  // .menu-footer__link
  &__link {
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    @include item_menu ($font-2, $font-Thin, 16px, $color-white, $color-hover);

  }
}

.footer-social {
  margin-bottom: 35px;
  a{
    font-size: 16px;
  }
}

.footer-bottom {

  span, a {
    font-size: 13px;
  }

}
