$__color_foot_svg: $color-asbestos;
$__color_foot_placehold: $color-asbestos;
$__brd_foot_input: 1px solid $color-asbestos;

.footer {
  background: $color-footer-bg;
  color: $color-white;
  padding-top: 55px;
  padding-bottom: 30px;
  font-size: 16px;
  font-family: $font-2;
  font-weight: $font-Thin;

  // .footer__content
  &__content {
    display: flex;
    flex-direction: column;
  }

  // .footer__row
  &__row {
    display: flex;

    @include breakpoint($md6) {
      flex-direction: column;
    }
  }

  // .footer__column
  &__column {
    flex: 1 0 50%;
    display: flex;

    @include breakpoint(xsmall) {
      justify-content: center;

      &.nav-menu {
        display: none;
      }
    }

    @include breakpoint($md6) {
      flex: 0 0 100%;
    }
  }

  &__form {
    display: block;
  }
}

.footer-info {
  margin-bottom: 25px;
}

.menu-footer {
  &__list {
    li {
      padding-bottom: 5px;
    }
  }

  // .menu-footer__link
  &__link {
    display: inline-block;

    @include item_menu ($font-2, $font-Thin, 16px, $color-white, $color-hover);
  }
}

.form-footer {

  @include breakpoint(xsmall) {
    max-width: 320px;
  }

  @include breakpoint($md6) {
    width: 100%;
  }

  &__group {
    // display: flex;
    // align-items: center;
    position: relative;
  }

  // .form-footer_input
  &__input {
    border: 0;
    border-bottom: $__brd_foot_input;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 1em;
    color: white;
    font-family: $body-font;
    font-weight: $font-Light;

    &::placeholder {
      font-size: 1em;
      color: $__color_foot_placehold;
    }

    &:focus {
      outline: none;
    }
  }

  // .form-footer__title
  &__title {
    margin-bottom: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }

  &__submit {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0px;
    right: -11px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: $__color_foot_svg;

    &:hover {
      &>i {
        color: $color-hover;
      }
    }
  }

  &:focus {
    background: $color-footer-bg;
  }
}

.footer__content {
  a {
    color: $color-white;
    font-family: $font-2;
    font-weight: $font-Thin;
    font-size: 1em;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
}

.footer-social {
  margin-bottom: 35px;
}

.footer-bottom {

  span {
    font-size: .8rem;
  }

  a {
    font-size: .8rem;
  }
}
