/*****************************
10 - Layout - Header
*****************************/

// Стили заголовка
.header {
  width: 100%;
  background: $color-head-bg;

  &__row {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 8rem;

  }

  &__logo {
    display: inline-block;

    &--wrapper{
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      height: 100%;
    }
  }

  // .header__navbar
  &__navbar {
    flex: 1 1 auto;
  }
}

/*==============
    Логотип
================*/
.logo {

  // @include breakpoint(xxsmall) {
  //   max-width: 8rem;
  // }

  // .logo__img
  &__img {
    width: 6.3rem;
    height: 6.3rem;
    margin-right: 1rem;

    @include breakpoint(xxsmall) {
      margin-right: 0;
    }
  }

  h2 {
    display: inline-block;
    color: $color-white;
    font-family: $font-2;
    font-weight: $font-Thin;
    font-size: 2.4rem;

    @include breakpoint(xxsmall) {
      display: none;
    }
  }
}

/*********************************
   Блок меню Хедера
*********************************/
.navbar-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // .navbar_head__menu
  &__list-menu {
    flex: 1 1 auto;
  }

  // .navbar-head__burger
  &__burger {
    display: none;
    width: 4rem;
    height: 4rem;
    position: relative;

    &:hover {
      color: $color-hover;
    }

    @include breakpoint(small) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/*********************************
    Блок пунктов меню меню
*********************************/
.menu-list{
  display: flex;
  text-align: center;
  justify-content: center;

  & li {
    display: inline-block;
    margin-right: 4rem;

    &:last-child {
      margin-right: 0;
    }

    & a {
      display: inline-block;
      text-transform: uppercase;

      @include item_menu($font-2, $font-Light, 1.6rem, $color-white, $color-hover);
    }
  }
  // на маленьком экране прячем меню
  @include breakpoint(small) {
    display: none;
  }
}

/*********************************
    Блок иконок
*********************************/
.action-icon {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  height: 100%;

  @include breakpoint(small) {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  &>li {
    display: inline-flex;
    align-items: stretch;
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }

    &>a{
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 2.5em;
      color: $color-white;
      transition:$base-tranzition;

      &>i {
        font-size: 2.6rem;

        @include breakpoint(medium) {
          font-size: 3rem;
        }
      }

      &:hover i {
        color: $color-hover;
      }
    }
  }
}

/*********************************
 User Account
*********************************/
.user-icon {
  &:hover &::selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &:hover &__selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &__selection {
    @include submenu(-100%);
    width: 21rem;
    padding-left: 1rem;
    padding-right: 1rem;

    & a {
      margin: 0;
      display: block;
      border-bottom: solid 1px $color-submenu-boder;
      font-family: $font-2;
      font-size: 1.4rem;
      font-weight: $font-Light;
      line-height: 4rem;
      color: #504e4e;
      letter-spacing: .1em;
      text-align: left;
      width: 100%;
      transition: $base-tranzition;

      &:hover {
        color: $color-hover;
      }

      i {
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }

    li:last-child a {
      border-bottom: none;
    }
  }
}

/*********************************
 Cart Icon
*********************************/
.cart-icon {
  &>a {
    span {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 1.4rem;
      right: -0.8rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: $color-red;
      color: #ffffff;
      font-size: 1.1rem;


      @include breakpoint(medium) {
        top: 0.6rem;
        right: -0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.3rem;
      }
    }
  }
}



