/*****************************
10 - Layout - Header
*****************************/

// Стили заголовка
.header {
  width: 100%;
  background: $color-head-bg;

  &__row {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 8rem;

  }

  &__logo {
    display: inline-block;

    &--wrapper{
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      height: 100%;
    }
  }

  // .header__navbar
  &__navbar {
    flex: 1 1 auto;
  }
}

/*==============
    Логотип
================*/
.logo {

  // @include breakpoint(xxsmall) {
  //   max-width: 8rem;
  // }

  // .logo__img
  &__img {
    width: 6.3rem;
    height: 6.3rem;
    margin-right: 1rem;

    @include breakpoint(xxsmall) {
      margin-right: 0;
    }
  }

  h2 {
    display: inline-block;
    color: $color-white;
    font-family: $font-2;
    font-weight: $font-Thin;
    font-size: 2.4rem;

    @include breakpoint(xxsmall) {
      display: none;
    }
  }
}

/*********************************
   Блок меню Хедера
*********************************/
.navbar-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // .navbar_head__menu
  &__list-menu {
    flex: 1 1 auto;
  }

  // .navbar-head__burger
  &__burger {
    display: none;
    width: 4rem;
    height: 4rem;
    position: relative;

    &:hover {
      color: $color-hover;
    }

    @include breakpoint(small) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/*********************************
    Блок пунктов меню меню
*********************************/
.menu-list{
  display: flex;
  text-align: center;
  justify-content: center;

  & li {
    display: inline-block;
    margin-right: 4rem;

    &:last-child {
      margin-right: 0;
    }

    & a {
      display: inline-block;
      text-transform: uppercase;

      @include item_menu($font-2, $font-Light, 1.6rem, $color-white, $color-hover);
    }
  }
  // на маленьком экране прячем меню
  @include breakpoint(small) {
    display: none;
  }
}

/*********************************
    Блок иконок
*********************************/
.header{
  &-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;


    @include breakpoint(small) {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
    }

    &__item {
      display: inline-block;
      position: relative;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
    &__btn{
      position: relative;
      font-size: 23px;
			line-height: 1;
      color: $color-white;
      transition:$base-tranzition;

      i {
        font-size: 23px;
      }

      &:hover i {
        color: $color-hover;
      }

      &.mini-cart-btn{
        .mini-cart-count{
          position: absolute;
          right: -13px;
          top: -13px;
          font-size: 14px;
          text-align: center;
          @include circle(22);
          color: $color-white;
          background: $color-red;
        }
      }
    }
  }
}
/*********************************
 User Account
*********************************/
.user-info {
  &:after{
    position: absolute;
    content: '';
		left: 0;
		top: 100%;
		width: 100%;
		height: 120%;
	}

  &__menu {
    position: absolute;
    left: -50%;
    top: 150%;
    min-width: 200px;
    margin-top: 30px;
    background:$color-submenu-bg;
    padding: 15px 10px;
    pointer-events: none;
    white-space: nowrap;
    transform: translateX(-50%);
    box-shadow: $shadow-1;
    visibility: hidden;
    opacity: 0;
    z-index: 111;
    transition: $base-tranzition;

    @include breakpoint(xblarge){
      transform:translateX(-67%);
    }
    @include breakpoint(xsmall){
      transform: translateX(-50%);
    }

    li{
      a {
        margin: 0;
        display: block;
        border-bottom: solid 1px $color-submenu-boder;
        font-family: $font-2;
        font-size: 16px;
        font-weight: $font-Light;
        line-height: 40px;
        color: #504e4e;
        letter-spacing: .1em;
        text-align: left;
        width: 100%;
        transition: $base-tranzition;

        i{
          font-size: 23px;
        }

        &:hover{
          color: $color-hover;
        }
      }

      &:last-child a {
        border-bottom: none;
      }
    }
  }

  &:hover{
    .user-info__menu{
        top: 90%;
        pointer-events: visible;
        visibility: visible;
        opacity: 1;
    }
  }
}

/*********************************
 mini-cart-info
*********************************/
.mini-cart-info {
  &:after{
    position: absolute;
    content: '';
		left: 0;
		top: 100%;
		width: 100%;
		height: 120%;
	}
}



