/*****************************
10 - Layout - Header
*****************************/

// Стили заголовка
.header {
  width: 100%;
  background: $color-head-bg;

  &__inner {
    padding: 30px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__column-main-nav {
    display: flex;
    align-items: center;
    flex: 2 1 auto;
  }

  &__column-tool-bar {
    flex: 0 1 auto;
  }
}

.main-nav {
  /*==============
    Логотип
  ================*/
  &__logo {
    flex: 0 1 auto;
    position: relative;
    display: flex;
    align-items: center;

    &--link {
      display: inline-flex;
    }

    &--img {
      position: absolute;
      top: -32px;
      left: 0;
      width: 6.4rem;
      height: 6.4rem;
    }

    &--text {
      display: inline-block;
      padding-left: 70px;
      color: $color-white;
      font-family: $font-2;
      font-weight: $font-Thin;
      font-size: 2.4rem;
      line-height: 1.5%;

      @include breakpoint(xxsmall) {
        display: none;
      }
    }
  }

  &__menu {
    flex: 1 1 auto;
  }
}

/*********************************
   Блок  Главного меню
*********************************/
.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  // .navbar_head__menu
  &__list {
    .menu-list {
      display: flex;
      text-align: center;
      justify-content: center;
      &__item {
        display: inline-flex;
        align-items: center;
        margin-right: 4rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          text-transform: uppercase;

          @include item_menu(
            $font-2,
            $font-Light,
            1.6rem,
            $color-white,
            $color-hover
          );
        }
      }
    }
  }
}
// .navbar-head__burger
// &__burger {
//   display: none;
//   width: 40px;
//   height: 40px;
//   position: relative;

//   &:hover {
//     color: $color-hover;
//   }

//   @include breakpoint(small) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

/*********************************
    Блок иконок
*********************************/
.header-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    position: relative;
    font-size: 23px;
    line-height: 1;
    color: $color-white;
    transition: $base-tranzition;

    i {
      font-size: 23px;
    }

    &:hover i {
      color: $color-hover;
    }

    &.mini-cart-btn {
      .mini-cart-count {
        position: absolute;
        right: -13px;
        top: -13px;
        font-size: 14px;
        text-align: center;
        @include circle(22);
        color: $color-white;
        background: $color-red;
      }
    }
  }
}

/*********************************
 User Account
*********************************/
.user-info {
  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    width: 100%;
    height: 120%;
  }

  &__menu {
    position: absolute;
    left: -50%;
    top: 150%;
    min-width: 200px;
    margin-top: 30px;
    background: $color-submenu-bg;
    padding: 15px 10px;
    pointer-events: none;
    white-space: nowrap;
    transform: translateX(-50%);
    box-shadow: $shadow-2;
    visibility: hidden;
    opacity: 0;
    z-index: 111;
    transition: $base-tranzition;

    @include breakpoint(xblarge) {
      transform: translateX(-67%);
    }

    @include breakpoint(xsmall) {
      transform: translateX(-50%);
    }

    li {
      a {
        margin: 0;
        display: block;
        border-bottom: solid 1px $color-submenu-boder;
        font-family: $font-2;
        font-size: 16px;
        font-weight: $font-Light;
        line-height: 40px;
        color: #504e4e;
        letter-spacing: 0.1em;
        text-align: left;
        width: 100%;
        transition: $base-tranzition;

        i {
          font-size: 23px;
        }

        &:hover {
          color: $color-hover;
        }
      }

      &:last-child a {
        border-bottom: none;
      }
    }
  }

  &:hover {
    .user-info__menu {
      top: 90%;
      pointer-events: visible;
      visibility: visible;
      opacity: 1;
    }
  }
}

/*********************************
 mini-cart-info
*********************************/
.mini-cart-info {
  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    width: 100%;
    height: 120%;
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin: 0;
  background: $color-head-bg;
  animation: fadeInDown 0.8s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
}
