<!-- карточка прдукта -->
<div class="product-item">
  <div class="product-item__wrapper cart-product">
    <img src="@@imgfile" alt="item-1">

    <div class="cart-product__action product-inner">
      <a class="product-inner__btn to-cart" href="cart-page.html"></a>
      <a class="product-inner__btn to-view" href="product-page.html"></a>
    </div>
  </div>
  <!-- /product-item__wrapper -->

  <div class="product-item__info info-product">
    <h3 class="info-product__title">Открытка "@@title"</h3>
    <div class="info-product__price rub-b">@@price</div>
  </div> <!-- /product-item__info info-product -->

</div> <!-- product-item -->
