<section class="section-prod container">
  <div class="section-prod__content prod-section">
    <h2 class="prod-section__title">@@title</h2>
    <div class="prod-section__items">
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-1.png","title":"Эми","price":"100"})
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-2.png","title":"Эми2","price":"200"})
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-3.png","title":"Эми3","price":"50"})
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-4.png","title":"Эми4","price":"100"})
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-1.png","title":"Эми4","price":"100"})
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-2.png","title":"Эми4","price":"100"})
      @@include('./_product-item.html',{"imgfile":"./assets/img/products/item-3.png","title":"Эми4","price":"100"})
    </div>
  </div>
  <!-- /section__content content-section -->
</section>
<!-- /section container -->
